* {
box-sizing: border-box;
margin: 0;
padding: 0;

}
body{
background-color: khaki;
 margin-left: 10%;
 margin-right: 10%;
}
h1 {
    margin-bottom:45px ;
    text-align: center;
    font-size: 55px;


}

p {
    border: 4px solid rgb(6, 5, 5);
     background-color: rgb(103, 101, 104);
     width: 100%;
     height: 160px;
     margin-left:auto;
     margin-right:auto;
     font-family: Arial, Helvetica, sans-serif;
     color: white;
     padding : 10px ;
   
   
  

}
 .row{
    width: 100%;
    margin : auto;

 }

 @media (min-width: 992px) and  (max-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3  {
      float: left;
     
    }
    .col-lg-1 {
      width:  33.33%;
    }
    .col-lg-2 {
      width: 50%;
    }
    .col-lg-3 {
      width: 100%;
    }
     
  }
  
  /********** Medium devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-1, .col-md-2, .col-md-3  {
      float: left;
       
    }
    .col-md-1 {
      width: 33.33%;
    }
    .col-md-2 {
      width: 50%;
    }
    .col-md-3 {
      width: 100%;
    }
     
  }
  @media (min-width: 576px) and (max-width: 768px) {
    .col-md-1, .col-md-2, .col-md-3  {
      float: left;
      
    }
    .col-sm-1 {
      width: 33.33%;
    }
    .col-sm-2 {
      width: 50%;
    }
    .col-sm-3 {
      width: 100%;
    }
     
  }

  #p2{
    background-color: #A52A2A;
  position: relative;
  width: 50px;
  height: 25px;
  border: 2px solid black; 
  float: right; 
  
  }
  #p3{
    background-color: #A52A2A;
  position: relative;
  width: 50px;
  height: 25px;
  border: 2px solid black; 
  float: right; 
  }
  #p4{
    background-color: #A52A2A;
  position: relative;
  width: 50px;
  height: 25px;
  border: 2px solid black; 
  float: right; 
  }
  